html{
background-color:orange;
text-align:center;
}

body{
	background-color:wheat;
	z-index:1;
	margin:0px 250px 10px 250px;
	padding-bottom:10px;
}


.header {
	text-align:center;

	
}

.header a{
	text-decoration:none;
	color:black;
	padding:0px 25px;
	text-align:center;
	font-size:19px;

}




 .header a:hover{
	
	background-color:orange;
	padding-left:5px;
	padding-right:5px;
	margin:0px 20px 10px 20px;
	border-radius:5px;
	
}

.start{
	text-align:left;
	margin: 0px 10px;
}


.start a {
	
	text-transform: none;
	color:black;
	
	font-size:19px;
	padding:0px 25px;



}

.zitate{
	margin: 0px 120px;


}


.zitate blockquote{
	border: 2px  black dotted;
	border-radius: 5px 8px 0px 15px;
	background-image: linear-gradient(to left ,grey,white,white );
}



.essen{
	max-width:1000px;
	
	height:auto;

	
	padding:5px 10px 15px 10px ;
	
	
}

.footer{
	
	text-align:center;
	
	
	
	
	
}

.footer-1{
	background-color:orange;
	margin:0px 350px 30px 350px;
	border-radius:50px;
	font-size:25px;
	
}


.footer-2{
	
	background-color:orange;
	margin:0px 350px 30px 350px;
	border-radius:50px;
	font-size:25px;
}















